.FinStateContainer{
    width: 100%;
    background-color: rgba(247, 246, 254, 1);
    border-radius: 16px;
}
.finStatesHeaderTitle{
    padding: 20px 45px 0px 45px;
    font-size: 44px;
    font-weight: 700;
    color: #5329FF;
}
.finStateParagraph{
    padding:5px 45px 10px 45px;
    margin-bottom: 15px;
    font-size: 25px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}
.finLogoMain{
    display: block;
    width: 100%;
}
.finLogoMain img{
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    backface-visibility: hidden;
}
.finLogo{
    display: none;
}
.finLogoMobile{
     display: none;
}
@media (min-width: 1250px) and (max-width: 1680px) {
    .finStatesHeaderTitle{
        padding: 20px 40px 0px 40px;
        font-size: 35px;
        font-weight: 700;
        color: #5329FF;
    }
    .finStateParagraph{
        padding:5px 40px 10px 40px;
        margin-bottom: 15px;
        font-size: 20px;
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
    }
    .finLogoMain{
        display: none;

    }
    .finLogo{
        display: block;
        width: 100%;
    }
    .finLogoMobile{
        display: none;
    }
    .finLogo img{
        width: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        backface-visibility: hidden;
    }
}
@media (min-width: 780px) and (max-width: 1250px) {
    .finStatesHeaderTitle{
        padding: 20px 35px 0px 35px;
        font-size: 35px;
        font-weight: 700;
        color: #5329FF;
    }
    .finStateParagraph{
        padding:5px 35px 10px 35px;
        margin-bottom: 15px;
        font-size: 20px;
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
    }
    .finLogoMain{
        display: none;
    }
    .finLogoMobile{
        display: none;
    }
    .finLogo{
        display: block;
        width: 100%;
    }
    .finLogo img{
        width: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        backface-visibility: hidden;
    }
}
@media (min-width: 300px) and (max-width: 780px) {
    .finStatesHeaderTitle{
        white-space: normal;
        width: 100%;
        display: block;
        font-size: 25px;
        padding: 20px 20px 0px 20px;
        font-weight: 700;
        color: #5329FF;
        line-height: 31px;
    }
    .finStateParagraph{
        font-size: 16px;
        font-weight: 700;
        padding:5px 20px 10px 20px;
        line-height: 20px;
    }
    .finLogo{
        display: none;
    }
    .finLogoMain{
        display: none;
    }
    .finLogoMobile{
        display: block;
        width: 100%;
    }
    .finLogoMobile img{
        width: 100%;
    }

}