.svg {
  width: 100%;
  height: auto;
  background-color: #f8f8ff;
}

.label {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-anchor: middle;
  fill: #333;
}

.smallLabel {
  font-size: 12px;
  text-anchor: start;
  fill: #666;
}
@media screen and (max-width: 1080px) {
  .svg {
    width: 50%;
    height: auto;
    background-color: #f8f8ff;
  }
}